:root {
    --Naranja:#ee9960;
    --AzulDarks:#30475E;
    --AzulDarkers:#13212f;
    --Blanquito:#F5F5F5;
    --grisesito:#AAAAAA;
    --ArroBlanco:#f3e9e0;
    --Celestito:#86afb6;
    
}

body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

body {
  background: #13212f;
  height: 100vh;
  width: 99.13vw;
  margin: 0;
  padding: 0;
  background-size: cover;
}

ul a{
    color: white;
    font-weight:bolder;
    font-size: 150%;
    font-stretch: condensed;
}

.Contenedor-base{
    width: 100%;
    height: 100%;
    background:  var(--AzulDarkers);
}

.Barra-navegacion{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position: fixed;
    width: 100%;
    height: 8%;
    background-color:   var(--AzulDarks);
    display: flex;
    justify-content: left;
    align-content: space-around;
    padding: 1%;
    padding-top: 0.7%;
    align-items: center;
    white-space: nowrap
}

.Barra-navegacion > form{
    width: fit-content;
}
.Barra-navegacion #Barra { 
    width: 50vw;
    height: 100%;
}
.Barra-navegacion #Barra input{ 
    width: 100%;
    height: 90%;
}

.Barra-navegacion input{
    border-radius: 8px;
    border: solid var(--Naranja);
    background: white;
    cursor:text;
}

.Barra-navegacion div{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    margin-inline: 1%;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 60%;
    font-stretch: condensed;
    color:  var(--Blanquito);
}

.Barra-navegacion a, .Barra-navegacion h3, .Barra-navegacion button{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    margin-inline: 1%;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 150%;
    font-stretch: condensed;
    color:  var(--Blanquito);
}
.Barra-navegacion button{
font-size: 1.5vh;
background-color: #ee9960;
border: 0px;
box-shadow: rgba(0, 0, 0, 0.1) 0px -50px 36px -28px inset;
text-align: center;
align-content: center;
justify-content: center;
width: fit-content;
height: fit-content;
}

.Barra-navegacion #logout{
    font-size: 120%;
}

.Barra-navegacion .SearchBarForm{
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    height: 100%;
}

.Barra-navegacion .SearchBarForm input{
    font-size: 200%;
    font-family: sans-serif;
    padding: .8%;
    color: var(--AzulDarks)
}

.Barra-navegacion #Account, .Barra-navegacion #accountHyperlinks {
    margin-left: auto;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 70%;
    font-stretch: condensed;
    color: var(--Blanquito);
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.Barra-navegacion div h3 {
    margin-inline: 20%;
}
.Barra-navegacion #accountHyperlinks > a {
    margin-inline: 5%;
}
.Barra-navegacion div > a {
    margin-inline: 20%;
}
.Barra-navegacion div > div > h3 {
    margin-inline: 20%;
}

#catBar{
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding: 0px;
}

#catBar .Categ{
    margin: auto;
    margin-inline: 3px;
    transition: transform .2s;
}

#catBar .Categ:hover{
    transform: scale(1.2);
}

.mainContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding-top: 4%;
    padding-bottom:3%;
   background-image: url("../media/img/Fondo_Feed.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
      
}

#portalcon{
    margin-left: 9.9%;
    width: calc(100% - 10%);
}

.Login{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background:  var(--Naranja);
    font-family: Copperplate;
    margin: 1rem;
    padding: 1rem;
    border: 8px solid  var(--Naranja);
    width: 40%;
    height: fit-content;
    border-radius: 25px;
}

.Formulario{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    
}

label{
    font-weight: bold;
    display: block;
    color: #AAAAAA;
}

.Formulario  input{
    width: 100%;
    height: 100%;
    cursor: text;   
    margin-bottom: 5%; 
}

footer {
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    position: relative;
    font-family: sans-serif;
    font-weight:bolder;
    font-size: 90%;
    font-stretch: condensed;
    color:  var(--Blanquito);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    bottom: 0;
    background-color:  var(--AzulDarks);
}

#portalf {
    margin-left: 10%;
    width: calc(100% - 10%);
}

.sidenav {
    font-size: 60%;
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--AzulDarkers);
    overflow-x: hidden;
    padding-top: 8%;
}
  
.sidenav .Categ {
    padding: 6px 6px 6px 20px;
    font-size: 1.1vw;
    display: block;
}

.Categ{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color:  var(--Blanquito);
}

.CoolWhiteText{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color:  var(--Blanquito);
    background-color: var(--AzulDarks);
}

.ZonaFeed{
      width: 98%;
      height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background:  var(--ArroBlanco);
    font-family: Copperplate;
    margin: 1rem;
    padding: 1rem;
    border: 8px solid  var(--ArroBlanco);
    border-radius: 5px;
}

#NNcontainer > .ZonaFeed{
    width: 70%;
}

.ZonaNoticia{
    padding: 2%;
    text-decoration: none;
    color :var(--AzulDarks);
    background-color: var(--Blanquito);
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: transform 0.2s;
}

.ZonaNoticia .imgZone{
    width: fit-content;
    height: 12.5rem;
    border: var(--ArroBlanco) solid 5px;
    background-color: var(--ArroBlanco);
    margin-right: 1%;

}

.ZonaNoticia .imgZone img{
    max-width: 100%;
    max-height: 100%;
}

.ZonaNoticia .TxtZone{
    width: 70%;
    height: 12.5rem;
    border-bottom: var(--ArroBlanco) solid 3px;
    margin-left: 1%;
}

.ZonaNoticia .txtFecha{
    color: var(--Celestito);
}
.ZonaNoticia:hover{
    transform: scale(1.02);
}

.ZonaFeedProfile{
    min-width: 30%;
    max-width: fit-content;
    height: 100%;

  -webkit-box-shadow: 10px 0 0 #F0F0F0, 20px 0 0 #000, 30px 0 0 #F0F0F0, 0 10px 0 #F0F0F0, 10px 10px 0 #000, 20px 10px 0 #F0F0F0, 30px 10px 0 #000, 0 20px 0 #000, 10px 20px 0 #F0F0F0, 20px 20px 0 #000, 30px 20px 0 #F0F0F0, 0 30px 0 #F0F0F0, 10px 30px 0 #000, 20px 30px 0 #F0F0F0, 30px 30px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 10px 0 0 #F0F0F0, 20px 0 0 #000, 30px 0 0 #F0F0F0, 0 10px 0 #F0F0F0, 10px 10px 0 #000, 20px 10px 0 #F0F0F0, 30px 10px 0 #000, 0 20px 0 #000, 10px 20px 0 #F0F0F0, 20px 20px 0 #000, 30px 20px 0 #F0F0F0, 0 30px 0 #F0F0F0, 10px 30px 0 #000, 20px 30px 0 #F0F0F0, 30px 30px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0);


  background:  var(--ArroBlanco);
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  padding: 1rem;
  border: var(--Celestito) solid 10px;
  border-radius: 50% 5px 5px 5px;
  text-align: Left;
}

.BtnEditProfile{
    background: var(--Celestito);
    color: var(--Blanquito);
    height: 5%;
    width: fit-content;
    border: solid 5px white;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transition:.4s;
}

.BtnEditProfile > a{
    text-decoration: none;
    color: #13212f;
}

.BtnEditProfile:hover{ transform: scale(1.2)}

.ZonaFeedProfile .profpic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    Border: solid 10px var(--Celestito);
}
.ZonaFeedProfile strong{
    font-size: xx-large;
    color: var(--AzulDarkers);
    background: var(--ArroBlanco);
    text-shadow: 2px 2px 0 var(--Celestito), 4px 4px 0 var(--Celestito);
}

.ZonaFeedPortal{
    min-width: 60%;
    max-width: fit-content;
    height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background:  var(--ArroBlanco);
  font-family: Copperplate;
  margin: 1rem;
  padding: 1rem;
  border: 8px solid  var(--ArroBlanco);
  border-radius: 5px;
  text-align: center;
}

.ZonaFeedPortal .Categ{
    padding: 6px 6px 6px 20px;
    font-size: 25px;
    display: block;
    font-size: 25px;
}

.btn_editCateg{
    background-Color:transparent;
    color:white; 
    border:none;
    transition: 0.3s;
}
.btn_saveNcateg{
    background-Color:transparent;
    color:rgb(80, 225, 80); 
    border:none;
    transition: 0.3s;
}
.btn_cancelCateg{
    background-Color:transparent;
    color:rgb(197, 50, 40); 
    border:none;
    transition: 0.3s;
}

.btn_editCateg:hover {transform: scale(1.2)}

#btnAddCateg{
    background-Color:transparent;
    color:var(--AzulDarks); 
    border:none;
    transition: 0.3s;
    font-size: x-large;
}

#btnAddCateg:hover {transform: scale(1.2)}

#EditorSideNav{
    left: 89%;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding: 0px;
    font-size: 3vh;
}
#EditorSideNav strong{
    color: var(--Blanquito);
    background-color: var(--AzulDarkers);
}

#EditorSideNav img{
    height: auto;
    width: 60%;
    border-radius: 10%;
    Border: solid 5px var(--Celestito);
}

#reorderzone{
    border: dashed 3px var(--AzulDarks);
}

#sortable { list-style-type: none; margin: 1vh; padding: 1vh; width: 100%; background-color: #ffffff;  }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: fit-content; }
#sortable li{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color:  var(--Blanquito);
}
#sortable li span { position: absolute; margin-left: -1.3em; }

.NewArticle > h1{
    text-align: center;
    color: var(--AzulDarks);
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

#ArticleForm{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
}

#ArticleForm > #DirArt{
    width: 100%;
    display: flex;
    justify-content: center;
  flex-direction: row;
}

#ArticleForm > input{
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    text-align: center;
    width: 100%;
    height: 100%;
    cursor: text;   
    margin-bottom: 2%; 
    text-transform:uppercase;
}
#DirArt > input{
    width: 24%;
    margin-bottom: 1%; 
    margin-left:1%;
    margin-right: 1%;
    text-transform:uppercase;
}
#DirArt > select{
    width: 20%;
}

#ArticleForm > select{
    width: 20%;
    margin-bottom: 2%;
}

#ArticleForm > label{
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color: var(--AzulDarks);
    
}

#ArticleForm > textarea{
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 2%; 
} 
#ArtTh{
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2%; 
}
.preview{
    display: block;
    border: dashed var(--AzulDarks) 2px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 10vw;
    height: 10vw;
    
}
#ArticleForm > #sign {
    text-transform:none;
    width: 30%;
}

#ArticleForm>#FileAddDiv>img{
    border: dashed var(--AzulDarks) 2px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 10vw;
    height: 10vw;
}

.notify-container {
    margin-top: 10px;
}
  
.notify-bubble {
    top: -10px;
    right: 0px;
    padding: 2px 5px 2px 6px;
    background-color: Red;
    color: white;
    font-size: 1vh;
    border-radius: 50%;
    box-shadow: 1px 1px 1px gray;
    display: none;
}

#profilemenu{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

#profilemenu .notify-bubble {
    font-size: 2vh;
}
 
/*Esto de abajo es para el visualizador de Articulos*/

img.news-image {
    background: #dadada;
    height: 50px;
    width: 50px;
  }
  p.news-info {
    margin-top: 0;
  }
  .news-item {
    clear: both;
    border-top: 1px solid #dadada;
  }
  .odd div.news-info {
    float: right;
  }
  .odd div.news-image {
    float: left;
  }
  .even div.news-info {
    float: left;
  }
  .even div.news-image {
    float: right;
  }

  #newview{
    display: block;
    max-width: 75vw;
    -webkit-box-shadow: 10px 0 0 #F0F0F0, 20px 0 0 #000, 30px 0 0 #F0F0F0, 0 10px 0 #F0F0F0, 10px 10px 0 #000, 20px 10px 0 #F0F0F0, 30px 10px 0 #000, 0 20px 0 #000, 10px 20px 0 #F0F0F0, 20px 20px 0 #000, 30px 20px 0 #F0F0F0, 0 30px 0 #F0F0F0, 10px 30px 0 #000, 20px 30px 0 #F0F0F0, 30px 30px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 10px 0 0 #F0F0F0, 20px 0 0 #000, 30px 0 0 #F0F0F0, 0 10px 0 #F0F0F0, 10px 10px 0 #000, 20px 10px 0 #F0F0F0, 30px 10px 0 #000, 0 20px 0 #000, 10px 20px 0 #F0F0F0, 20px 20px 0 #000, 30px 20px 0 #F0F0F0, 0 30px 0 #F0F0F0, 10px 30px 0 #000, 20px 30px 0 #F0F0F0, 30px 30px 0 #000, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    #newview  button{
        transition: transform .2s;
    }
    #newview  button:hover{
        transform: scale(1.2);
    }

  #ZonaNew{
    margin: auto;
    text-align: center;
    max-width: 90%;
    background-color: var(--ArroBlanco);
  }
  #ZonaNew .Titulo{
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color: var(--AzulDarkers);
    font-size: 10vh;
  }
  #ZonaNew .Subtitulo{
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color: var(--AzulDarkers);
    font-size: 5vh;
  }
  #ZonaNew .Fecha{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color: var(--AzulDarks);
    font-size: 4vh;
  }
  #ZonaNew .Direccion{
    font-family: sans-serif;
    font-weight:bolder;
    font-stretch: condensed;
    color: var(--AzulDarks);
    font-size: 2.5vh;
  }

  #ZonaNew .parrafo{
      background-color: var(--Blanquito);
      border: var(--Blanquito) 8px dashed;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      white-space: normal;
      word-break: break-all;
  }

  #ZonaNew .Thumbnail{
    width: 100%;
    max-height: 50vh;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  #ZonaNew  .Media{
    max-height: 66vh;
    width: 100%;
  }

  #ZonaNew  .MediaImg{
      margin-bottom: 3vh;
      max-height: 66vh;
      width: 100%;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; 
    }

    #ZonaNew .Aprobar, #ZonaNew .Denegar{
        height: fit-content;
        width: fit-content;
        transition: transform .2s;
        font-size: 5vh;
    }

    #ZonaNew .Aprobar:hover, #ZonaNew .Denegar:hover{
        transform: scale(1.2);
    }

    #ZonaNew .Aprobar{background-color: rgb(149, 236, 18);}
    #ZonaNew .Denegar{background-color: rgb(120, 20, 20); color:white}

    .FeedbackList{
        text-align: center;
        border: #30475E 3px dashed;
        background-color: var(--Celestito);
        font-size: 3vh;
        width: 50%;
        margin-inline: auto;
    }

    .FeedbackList > div{
        background-color: var(--Blanquito);
        border: #808080 dotted 2px;
    }

    

    #commentsDiv{
        display: block;
        text-align: center;
        background-color: #dadada;
        border: #30475E dashed 2px;
        width: 90%;
        margin: auto;
        height: fit-content;
    }

    .comment{
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
        background-color: var(--Blanquito);
        border: var(--Celestito) dotted 2px;
        height: fit-content;
        margin-top: 1vh;
        width: 100%;
    }

    .commentAuthor{
        width: 12vh;
        height: 12vh;
    }

    .commentAuthor > h6{
        font-size: 50%;
    }

    .commentPfp{
        height: 75%;
        width: 100%;
    }

   .commentContent{
        white-space: normal;
        width: 80%;
    }

    .comment > .child{
        margin-inline: auto;
        width: 90%;
        border:none;
        border-top: var(--grisesito) dotted 2px;
        white-space: nowrap;
    }

    .fecha{
        color: var(--Celestito);
        box-shadow:inset 0px 1px 0px 0px #f29c93;
    }

    .btnlike{
        border-radius:14px;
        display:inline-block;
        cursor:pointer;
        font-family:Arial;
        font-size:18px;
        font-weight:bold;
        padding:9px 10px;
        text-decoration:none;
        transition: none;
    }
    
    .btnlike:hover {
        transform: none;
        background:linear-gradient(to bottom, #ca7900 5%, #fea900 100%);
        background-color:#d49012;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }