
*{
	
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}

#Barra{ 
    
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Div_FI{
    
    margin-left: 1%;
    margin-right: 1%;
}

.Div_FF{
    
    margin-left: 1%;
    margin-right: 1%;
}

#F_Ini{
    
     text-decoration:none;
    
    
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 100%;
    font-stretch: condensed;
    color: #F5F5F5;
    
}

#F_Fin{
    
     text-decoration:none;
    
    
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 100%;
    font-stretch: condensed;
    color: #F5F5F5;
    
}

.Barra-navegacion{
    
    position: fixed;
 
    width: 100%;
    height: 10%;
   
    background-color: #30475E;

   display: flex;
   justify-content: center;
   align-items: center;
   

   
}

#Busqueda_Etiquetas > input{
   
    height: 50%;
    width: 90%;
    border-color: #F05454;
    border-width: 3px;
}

#Fecha_Inicio{
    
    margin-left: 2px;
    border-color: #F05454;
    height: 50%;
    width: 10%;
    background: #30475E;
    
}

#Fecha_Final{
    
     margin-left: 2px;
    border-color: #F05454;
    height: 50%;
    width: 10%;
    background: #30475E;
    
}

#Barra > input{
   
    height: 50%;
    width: 95%;
    border-color: #F05454;
    border-width: 3px;
}

body{
    
    display: flex;
    flex-direction: column;
     
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    
}

.Foto_perfil{
    
    width: 15%;    
}

.Foto_perfil > a{
 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Foto_perfil > a > img{
    
    margin-right: 5%;
    
    width: 30%;
    height: 30%;
    border-radius: 50%;
    
}

.Foto_perfil > a > div{
    
    margin-right: 5%;
    
    width: 10%;
    height: 40%;
     border-radius: 50%;
    
}

.Foto_perfil > a {
    
    text-decoration:none;
    margin-left: 5%;
    
    
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 100%;
    font-stretch: condensed;
    color: #FD6F96;
    
}


#btn_Buscar{
    
    margin-right: 1%;
   margin-left: 1%;
    
}

#btn_Buscar > button{
    
    width: 120%;
      height: 100%;
     
      border: none;
      border-radius: 15%;
      margin-bottom: 0px;
  
      background: #F05454;
      color: #F5F5F5;
      
      font-family: sans-serif;
      font-size: 100%;
      font-weight: bolder;
       
}

#btn_Cerrar_sesion{
        
   margin-right: 1%;
   margin-left: 1%;
    
}

#btn_Cerrar_sesion > button{
   
     width: fit-content;
      height: 100%;
     
      border: none;
      border-radius: 15%;

      background: #F05454;
      color: #F5F5F5;
      
      font-family: sans-serif;
      font-size: 100%;
      font-weight: bolder;
   
}

button{
    cursor: prgb(255, 0, 0)
}

 .Contenedor-base{
     
    max-width:100%; 
     
    height: 160vh;
  
     
}

.Columna{
    
    width: 100%;
    height: 70%;
   
    display: flex;
    justify-content:center;
    align-items:center;
    
    flex-direction: Column;
    
	padding-bottom:2%;
       
}

.Mas_visto{
	
	width: 100%;
    height: 100%;
   
    display: flex;
    
    justify-content:center;
    align-items:center;
    
    flex-direction: Row;
    	
}

.Mas_visto > .Noticia> .Imagen > img{ /*Imagen de lo mas visto*/
	
	width: 100%;
    height: 100%;
	
	border-radius: 5%;
	
}

.Mas_visto > .Noticia > .Nota{
	
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
	
	width: 100%;
    height: 10%;
    
    padding-left:2%;
    	
	
}

.Seccion_Mas_visto{
	
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	
	width: 100%;
    height: 10%;
	
	font-family: "Trebuchet MS", Verdana, sans-serif;
	
	
	letter-spacing: 5px;
	font-size: 150%;
	font-weight:bold;
	text-align: center;
	
	text-transform: uppercase;
	
}

.Seccion_Mas_reciente{
	
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	
	width: 100%;
    height: 10%;
	
	font-family: "Trebuchet MS", Verdana, sans-serif;
	
	letter-spacing: 5px;
	font-size: 150%;
	font-weight:bold;
	text-align: center;
	
	text-transform: uppercase;
	
	
	
}

.Nota{
    
    
     text-decoration:none;
     
}

.Noticia{
	
	
	
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
	
	width: 100%;
    height: 100%;
    
    margin: 1%;
    border-color: #F05454; 


    
  
}

.Imagen{
	
	display:flex;
	justify-content:center;
    align-items:center;
    
    
   
    
    
}

.Imagen > img{
	
	width: 40%;
    height: 40%;
	
	border-radius: 5%;
	
	
	
}

.Titulo_Nota{
    
    font-family: monospace;
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    font-size: xx-large;
    background-color: #F05454;
    width: 100%;
    height:100%;
    border-radius: 10px;
   
    
}

.Fecha_Nota{
    
    margin-top: 2%;
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    width: 100%;
    font-family: cursive;
    background-color: #30475E;
    border-radius: 10px;
    
}


footer {
    
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 90%;
    font-stretch: condensed;
    color: #F5F5F5;
     
    display: flex;
    justify-content: space-between;
    
  	width: 100%;
  	height:100;
    
   margin-top: auto;
   
   
   background-color: #30475E;
   
   
    
 }

input{
    
    width: 100%;
    height: 100%;
    
    
    border-radius: 8px;
    border-color: white;
        
    background: white;
    cursor:text;
}

#Logo{
    
    display: flex;
    width: 5%;
    height: 100%;
    min-width: max-content;
    align-items: center;
    justify-content: flex-end;
        
    background-color: #30475E;
    
}

.Logo-web{
    
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 150%;
    font-stretch: condensed;
    color: #F5F5F5;
    
}

.mainContenedor{
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
   

    width: 100%;
    height: 100%;
    
     
}

.Secciones{
	
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    
    height: 15%;
    width: 100%;
	
}

.Secciones ul{
	
	list-style: none; /*Para que mp aparezcan los circulos en la lista*/
       
    display: flex; /*Crea cajas que son de bloque y en línea de forma simultánea*/
    flex-direction: row;
    
    justify-content: center;
    align-items: flex-end;
    
    background-color: #30475E;
    
    height: 100%;
    width: 100%;
    
    padding-bottom:1%;
	
}

.Secciones ul li {
	
	display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #F05454;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 18px;
    
    width: 15%;
    height: 40%;
    
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
	
}

.Secciones ul li a {
	
text-decoration: none;
color: #F5F5F5;
	
}

.Paginacion{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 8%;
    width: 100%;
}

.Paginacion ul{
    
    list-style: none; /*Para que mp aparezcan los circulos en la lista*/
       
    display: flex; /*Crea cajas que son de bloque y en línea de forma simultánea*/
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    
    background-color: #F5F5F5;
    
    height: 100%;
    width: 100%;
     
}

.Paginacion ul li{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    background-color: #F05454;
    font-family: sans-serif;
     font-weight: bolder;
    font-size: 18px;
    
    width: 3%;
    height: 40%;
    
    margin-right: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.Paginacion ul li a{
    
    color: #F5F5F5;
    text-decoration: none;
    
}

/* Para clases de  Notas.html */

.Noticias{
    
   
    display: flex;
    
    justify-content: center;
    align-content: center;
    
    flex-direction: column;
    
     width: 100%;
     height: 100%;
     
     background: #F5F5F5;

     
    
}

/* Para clases de  Creando_Nota.html */

#btn_Guardar > button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 25%;
    height: 55%;
   
    border: none;
    border-radius: 15px;
    margin-bottom: 0px;

    padding-left: 20px;
    padding-right: 20px;
    background: #6F69AC;
    color: #FFEBA1;
    
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
    
}

#btn_Guardar {
    
    display: flex;
    box-sizing:border-box;
    justify-content: flex-end;
    align-items: center;

    padding-right: 5%;
  
    width: 100%;
    height: 10%;
    
    background-color:#FD6F96;
}

#btn_Borrar{
    
    display: flex;
    box-sizing:border-box;
    justify-content: flex-end;
    align-items: center;

    padding-right: 5%;
  
    width: 100%;
    height: 10%;
    
    background-color:#FD6F96;
}

#btn_Borrar > button{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
     width: 25%;
    height: 55%;
   
    border: none;
    border-radius: 15px;
    margin-bottom: 0px;

    padding-left: 20px;
    padding-right: 20px;
    background: #6F69AC;
    color: #FFEBA1;
    
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
    
}


.Creacion_Nota{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}



.Nota{
    
    width: 50%;
    height: 30%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    background-color: #F5F5F5;
 
    text-align: left;
    color: aliceblue;
    
    border-color: rgb(128, 0, 0);
    
   	margin: 1%;
   
    
    border-color: rgb(128, 0, 0);
    
    border-radius: 15px;
    
}



.Descripcion{
	
	display: flex;
	
	justify-content: center;
    align-items: center;
	
	font-family: sans-serif;
    color: #121212;
   
	
}


