a{
    
    color: #0a4e5a;
    
}

body{

height: 100vh;

}

.avatar{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

#Barra{
    
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Barra-navegacion{
    
    position: fixed;
 
    width: 100%;
    height: 6%;
   
    background-color:  #30475E;

   display: flex;
   justify-content: center;
   align-items: center;
}

#Barra > input{
   
   height: 50%;
   width: 95%;
   border-color:  #F05454;
   border-width: 3px;
}


body{
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
   margin: 0;
   padding: 0;
   background-size: cover;
  
   
   
   
}


.Contenedor-base{
    
    width: 100%;
    height: 100%;
    
    background: #F5F5F5;
    
}

.errorMsg{
    background-color: #df3861;
    color: aliceblue;
    display: none;
    font-size: 14px;
    padding: 8px;
    font-weight: bold;
    font-family: sans-serif;
    
    position:absolute;

    border-radius: 14px;
}

footer {
 
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 90%;
    font-stretch: condensed;
    color: #F5F5F5;
     
    display: flex;
    justify-content: space-between;
    
   width: 100%;
    
   margin-top: auto;
   
   
   background-color: #30475E;
   
   
    
    
 }

.Formulario{

    display: flex;
    width: 60%;
    height: 33%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    
}




input{
    

    
    width: 100%;
    height: 100%;
    
    border-radius: 8px;
    border-color: white;
        
    background: white;
    cursor: text;    
}

.input-Msg{
	
	padding-top:2%;
	
}



 label{
    
    font-weight: bold;
    
    display: block;
    
    color: #AAAAAA;
    
}

.Login{
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    
    background: #F05454;
    font-family: Copperplate;
      
    margin: 1rem;
    padding: 1rem;
    border: 8px solid #F05454;
    
    width: 40%;
    height: 100%;
    
    min-width: max-content;
    min-height: max-content;
   
    border-radius: 15px;

    
}

#Logo{
    
    display: flex;
    width: 5%;
    height: 100%;
    min-width: max-content;
    align-items: center;
    justify-content: flex-end;
        
    background-color: #30475E;
    
}

.Logo-web{
    
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 150%;
    font-stretch: condensed;
    color: #F5F5F5;
    
}

.mainContenedor{

    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    padding-top: 3%;

    width: 100%;
    height: 100%;
    
   background-image: url("https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_960_720.jpg");
   background-repeat: no-repeat;
   background-size: cover;
      
}

.btnLog{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    height: 100%;
    width: 15%;
    
    
}