a{
    
    color: #0a4e5a;
    
}

p{

font-family: sans-serif;
color: #F5F5F5 ;

}

body{

min-height: 100vh;

}

.Foto_perfil{

display: flex;
justify-content: flex-start;

}

strong{

	color: #F5F5F5;
}


h1,h5,h6{
    
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 100%;
 }


 

 
 label{
     
  
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 100%;
     
 }


#Barra{
    
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Barra-navegacion{
    
    position: fixed;
 
    width: 100%;
    height: 10%;
   
    background-color:  #30475E;

   display: flex;
   justify-content: center;
   align-items: center;
}

#Barra > input{
   
   height: 50%;
   width: 95%;
   border-color:  #F05454;
   border-width: 3px;
}



body{
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
   margin: 0;
   padding: 0;
  
   
   
   
}

.Noticia_Info{

display: flex;
flex-direction: row;
justify-content: center;

}

.Noticia{

	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	border-radius: 15px;

	width: 70%;
	

    min-height: 50%;
    max-height: 100%;

	background-color: #F05454;

     margin: 1rem;
    padding: 1rem;
}

.Noticia > h1{

	display: flex;

	justify-content: center;
	align-items: center;

}

.Informacion_Not{

	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	border-radius: 15px;

	width: 15%;
	

    min-height: 50%;
    max-height: 100%;

	background-color: #F05454;

    margin: 1rem;
    padding: 1rem;

}



#Logo{
    
    display: flex;
    width: 10%;
    height: 100%;
   
    align-items: center;
    justify-content: center;
        
    background-color: #30475E;
    
}

.Logo-web{

color: #F5F5F5 ;

}



 .Contenedor-base{
     
     width: 100%;
     height: 100%;
     
}

.mainContenedor{
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;

    width: 100%;
    height: 100%;

    background-image: url("https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


footer {
 
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 90%;
    font-stretch: condensed;
    color: #FFEBA1;
     
    display: flex;
    justify-content: space-between;


    
  width: 100%;
    
   margin-top: auto;
   
   
   background-color: #30475E;
   
   
    
    
 }



 .Relacionados{
	
	width: 100%;
    height: 100%;
   
    display: flex;
    
    justify-content:center;
    align-items:flex-start;
    
    flex-direction: Row;
    	
}

.Relacionados > .Noticia> .Imagen > img{ /*Imagen de lo mas visto*/
	
	width: 100%;
    height: 100%;
	
	border-radius: 5%;
	
}

img{

border-radius: 5%;

}

.Relacionados > .Noticia > .Nota{
	
	display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
	
	width: 100%;
    height: 10%;
    
    padding-left:2%;
    	
	
}

.Titulo_Nota{
    
    font-family: monospace;
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    font-size: xx-large;
    background-color: #F05454;
    width: 100%;
    height:100%;
    border-radius: 10px;
   
    
}

.Fecha_Nota{
    
    margin-top: 2%;
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    width: 100%;
    font-family: cursive;
    background-color: #30475E;
    border-radius: 10px;
    
}

.Descripcion{
	
	display: flex;
	
	justify-content: center;
    align-items: center;
	
	font-family: sans-serif;
    color: #F5F5F5;
   
	
}


.Seccion_Relacionados{
	
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	
	width: 100%;
    height: 10%;
	
	font-family: "Trebuchet MS", Verdana, sans-serif;
	


	letter-spacing: 5px;
	font-size: 150%;
	font-weight:bold;
	text-align: center;
	
	text-transform: uppercase;

    background-color: #F05454 ;
	
}

.Nota{

	 text-decoration:none;
    
    width: 50%;
    height: 30%;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    background-color: #F05454;
 
    text-align: left;
    color: aliceblue;
    
    border-color: rgb(128, 0, 0);
    
   	
   
    
    border-color: rgb(128, 0, 0);
    
    border-radius: 15px;
    
}

.Nombre_Usuario,.Comentario{

font-family: inherit;
font-style: italic;

}

.Nombre_Usuario{

color: #30475E;

}

.Comentario{

color:#121212 ;

}