a{
    
    color: #0a4e5a;
    
}

body{

min-height: 100vh;

}

.Foto_perfil{

display: flex;
justify-content: flex-start;

}

strong{

	color: #F5F5F5;
}


h1{
    
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 120%;
 }
 
 h2{
    
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 100%;
 }

 h3{

color: #F5F5F5;

 }
 
 label{
     
  
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 100%;
     
 }


#Barra{
    
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Barra-navegacion{
    
    position: fixed;
 
    width: 100%;
    height: 10%;
   
    background-color:  #30475E;

   display: flex;
   justify-content: center;
   align-items: center;
}

#Barra > input{
   
   height: 50%;
   width: 95%;
   border-color:  #F05454;
   border-width: 3px;
}



body{
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
   margin: 0;
   padding: 0;
  
   
   
   
}

.Mis_Noticias{

	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	border-radius: 15px;

	width: 70%;
	height: 50%;

	background-color: #F05454;

     margin: 1rem;
    padding: 1rem;
}

.Mis_Noticias > h1{

	display: flex;

	justify-content: center;
	align-items: center;

}


.Datos_Usuario{
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    background: #F05454;
  
      
    margin: 1rem;
    padding: 1rem;

    

    border: 8px solid #F05454;
    
    width: 40%;
    height: 50%;
   
   border-radius: 15px;
   border-color: #F05454;
    
}

.Datos_Usuario > div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
     width: 80%;
     height: 100%;
   
}


.Datos_Usuario > div > img{
    
   
    width: 50%;
    height: 100%;
    border-radius: 20%;
    
    
}

.Datos_Usuario > div > button{
    
      width: fit-content;
      height: 70%;
     
      border: none;
      border-radius: 15px;
      margin-bottom: 0px;
  
      padding-left: 20px;
      padding-right: 20px;
      background: #FD6F96;
      color: #FFEBA1;
      
      font-family: sans-serif;
      font-size: 13px;
      font-weight: bolder;
       
}

#btn_Buscar > button{
    
    width: fit-content;
      height: 65%;
     
      border: none;
      border-radius: 15px;
      margin-bottom: 0px;
  
      padding-left: 20px;
      padding-right: 20px;
      background: #FD6F96;
      color: #FFEBA1;
      
      font-family: sans-serif;
      font-size: 20px;
      font-weight: bolder;
       
      
}

#Logo{
    
    display: flex;
    width: 10%;
    height: 100%;
   
    align-items: center;
    justify-content: center;
        
    background-color: #30475E;
    
}



 .Contenedor-base{
     
     width: 100%;
     height: 100%;
     
}

.mainContenedor{
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    padding-top: 5%;

    width: 100%;
    height: 100%;

    background-image: url("https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_960_720.jpg");
   background-repeat: no-repeat;
   background-size: cover;
    
 
}


footer {
 
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 90%;
    font-stretch: condensed;
    color: #FFEBA1;
     
    display: flex;
    justify-content: space-between;
    
  width: 100%;
    
   margin-top: auto;
   
   
   background-color: #30475E;
   
   
    
    
 }

.Edicion_Secciones{

 width:70%;
 background-color:#30475E;

 padding: 3%;

 display: flex;
 justify-content: center;
 align-items: center;

 flex-direction: column;


}

/*ESTILO PARA LISTADO DE NOTICIAS*/



.Columna{
    
    width: 100%;
    height: 70%;
   
    display: flex;
    justify-content:center;
    align-items:center;
    
    flex-direction: Column;
    
    padding-bottom:2%;

       
}

.Columna > .Noticia > .Imagen{

width: 50%;

}

.Columna > .Noticia > .Imagen > img{

height: 40%;
width: 40%;

}

.Nota{
    
    color: #F5F5F5;

    text-decoration:none;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    
    width: 100%;
    height: 10%;
    
    padding-left:2%;
        
     
}

.Noticia{
    
    
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    
    width: 100%;
    height: 100%;
    
    margin: 1%;
    border-color: #F05454; 


    
  
}

.Imagen{
    
    display:flex;
    justify-content:center;
    align-items:center; 
}

.Imagen > img{
    
    width: 40%;
    height: 40%;
    
    border-radius: 5%;
    
    
    
}

.Titulo_Nota{
    
    font-family: monospace;
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    font-size: xx-large;
    background-color: #F05454;
    width: 100%;
    height:100%;
    border-radius: 10px;
   
    
}

.Fecha_Nota{
    
    margin-top: 2%;
    
    display: flex;
    justify-content:center;
    align-items:center;
    
    width: 100%;
    font-family: cursive;
    background-color: #30475E;
    border-radius: 10px;
    
}

.Descripcion{
    
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    font-family: sans-serif;
    color: #121212;
   
    
}