a{
    
    color: #0a4e5a;
    
}

p{

font-family: sans-serif;
color: #F5F5F5 ;

}

body{

height: 200vh;

}

.Foto_perfil{

display: flex;
justify-content: flex-start;

}

strong{

	color: #F5F5F5;
}


h1,h5,h6{
    
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 100%;
 }


 

 
 label{
     
  
    color: #F5F5F5;
    font-family: Copperplate; 
    font-weight: bold;  
    font-size: 100%;
     
 }


#Barra{
    
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Barra-navegacion{
    
    position: fixed;
 
    width: 100%;
    height: 10%;
   
    background-color:  #30475E;

   display: flex;
   justify-content: center;
   align-items: center;
}

#Barra > input{
   
   height: 50%;
   width: 95%;
   border-color:  #F05454;
   border-width: 3px;
}



body{
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
   margin: 0;
   padding: 0;
  
   
   
   
}

.Noticia{

	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	border-radius: 15px;

	width: 70%;
	

    min-height: 50%;
    max-height: 100%;

	background-color: #F05454;

     margin: 1rem;
    padding: 1rem;
}

.Noticia > h1{

	display: flex;

	justify-content: center;
	align-items: center;

}



#Logo{
    
    display: flex;
    width: 10%;
    height: 100%;
   
    align-items: center;
    justify-content: center;
        
    background-color: #30475E;
    
}

.Logo-web{

color: #F5F5F5 ;

}



 .Contenedor-base{
     
     width: 100%;
     height: 100%;
     
}

.mainContenedor{
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;

    width: 100%;
    height: 100%;

    background-image: url("https://cdn.pixabay.com/photo/2014/05/21/22/28/old-newspaper-350376_960_720.jpg");
   background-repeat: no-repeat;
   background-size: cover;
    
 
}


footer {
 
    font-family: sans-serif;
    font-weight:bolder;
    
    font-size: 90%;
    font-stretch: condensed;
    color: #FFEBA1;
     
    display: flex;
    justify-content: space-between;
    
  width: 100%;
    
   margin-top: auto;
   
   
   background-color: #30475E;
   
   
    
    
 }